In [1]:
import pandas as pd

In [2]:
file_1 = "budget_data_1.csv"

file_2 = "budget_data_2.csv"

In [4]:
#import two files
file_1_df = pd.read_csv(file_1)

file_2_df = pd.read_csv(file_2)

file_2_df.head()

       Date  Revenue
0  Jan-2009   943690
1  Feb-2009  1062565
2  Mar-2009   210079
3  Apr-2009  -735286
4  May-2009   842933